@use "../../styles/mixins" as *;

.back {
  margin-top: 1rem;
  color: var(--clr-black);
  font-size: var(--fs-300);
  opacity: 0.5;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    color: var(--clr-accent-primary);
    opacity: 0.7;
  }

  @include mq(tablet) {
    margin-top: 2rem;
  }

  @include mq(desktop) {
    margin-top: 5rem;
  }
}
