@use "../mixins" as *;

.layout {
  display: grid;
  margin-top: 4rem;
  margin-bottom: 7.5rem;
  row-gap: 7.5rem;
}
.container {
  display: grid;

  place-items: center;
  min-height: 6.5rem;
}

.titleWrapper {
  background-color: var(--clr-black);
}

.title {
  color: var(--clr-white);
  font-weight: var(--fw-bold);
  font-size: var(--fs-600);
  letter-spacing: var(--l-500);
}

@include mq(tablet) {
  .layout {
    margin-top: 7.5rem;
  }

  .container {
    min-height: 15rem;
  }

  .title {
    font-size: var(--fs-800);
    line-height: var(--lh-700);
    letter-spacing: var(--ls-300);
  }
}

@include mq(desktop) {
  .layout {
    margin-block: 10rem;
    row-gap: 10rem;
  }
}
