@use "../mixins" as *;

.background {
  background-color: var(--clr-neutral-v-light);
}

.layout {
  display: grid;
  row-gap: 2rem;
  margin-bottom: 6rem;
  margin-top: 1.5rem;

  @include mq(tablet) {
    margin-bottom: 7rem;
  }

  @include mq(desktop) {
    margin-top: 2.5rem;
    grid-template-columns: 73fr 35fr;
    column-gap: 2rem;
  }
}
