@use "../mixins" as *;

.main {
}

.categories-wrapper {
  margin-top: 2.5rem;

  @include mq(tablet) {
    margin-top: 6rem;
  }

  @include mq(desktop) {
    margin-top: 7.5rem;
  }
}
.hero-header-line {
}
