@use "../mixins" as *;

.grid {
  display: grid;
  row-gap: 1.5rem;

  @include mq(tablet) {
    row-gap: 2rem;
  }

  @include mq(desktop) {
    row-gap: 3rem;
  }
}

/* wrappers */

.categoriesWrapper {
  margin-top: 2.5rem;

  @include mq(tablet) {
    margin-top: 6rem;
  }

  @include mq(desktop) {
    margin-top: 7.5rem;
  }
}

.productsWrapper {
  margin-top: 7.5rem;

  @include mq(tablet) {
    margin-top: 6rem;
  }

  @include mq(desktop) {
    margin-top: 10.5rem;
  }
}

.manifestoWrapper {
  margin-block: 7.5rem;

  @include mq(tablet) {
    margin-block: 6rem;
  }

  @include mq(desktop) {
    margin-block: 13.5rem;
  }
}
