@use "../mixins" as *;

.grid-main {
  display: grid;

  @include mq(tablet) {
    margin-top: 1.5rem;
    grid-template-columns: 6fr 10fr;
    grid-template-rows: auto;
    align-items: center;
  }

  @include mq(desktop) {
    margin-top: 0.5rem;
    grid-template-columns: 1fr 1fr;
  }
}

.buttons-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: clamp(1rem, 2.4vw, 2.5rem);
}

/* main grid items */

.main_image {
  margin-top: 1.5rem;
  overflow: hidden;
  border-radius: var(--border-radius-small);

  @include mq(tablet) {
    margin-block: auto;
    place-self: center;
  }
}

.main_description-wrapper {
  .new {
    margin-top: 2rem;
    text-transform: uppercase;
    letter-spacing: var(--ls-600);
    color: var(--clr-accent-primary);
    font-size: var(--fs-200);
  }

  .new + .heading {
    margin-top: 1.5rem;
  }

  .heading {
    margin-top: 2rem;
    font-weight: var(--fw-bold);
    font-size: var(--fs-600);
    letter-spacing: var(--ls-100);
    width: min-content;
  }

  .description {
    margin-top: 1.5rem;
  }

  .price {
    margin-top: 1.5rem;
    color: var(--clr-black);
    font-weight: var(--fw-bold);
    opacity: 1;
    font-size: var(--fs-400);
  }

  .buttons-wrapper {
    margin-top: 1.5rem;
  }

  .add {
    min-width: calc(11ch + 4rem);
  }
}

@include mq(tablet) {
  .main_description-wrapper {
    margin-left: clamp(1rem, 3vw + 1rem, 4rem);

    .new {
      margin-top: 0;
    }

    .new + .heading {
      margin-top: 1rem;
    }

    .heading {
      height: min-content;
      margin-top: 0;
    }

    .description {
      margin-top: 2rem;
      max-width: min(50vw, 50ch);
    }
  }
}

@include mq(tablet) {
  @media only screen and (max-width: 38rem) {
    .main_description-wrapper {
      .description {
        margin-top: 0.75rem;
      }

      .price {
        margin-top: 0.75rem;
      }

      .buttons-wrapper {
        margin-top: 0.75rem;
      }

      .add {
        min-width: none;
      }
    }
  }
}

@include mq(desktop) {
  .main_image {
    margin-top: 3.5rem;
  }

  .main_description-wrapper {
    margin-left: clamp(5rem, 6.5vw + 1rem, 7rem);

    .new {
      margin-top: 2rem;
    }
    .heading {
      font-size: var(--fs-800);
      letter-spacing: var(--ls-400);
      line-height: var(--lh-700);
      margin-top: 3rem;
      width: min-content;
    }
    .description {
      margin-top: 1.5rem;
      max-width: min(45ch, 40vw);
    }
    .price {
      margin-top: 2rem;
    }

    .buttons-wrapper {
      margin-top: 2rem;
    }

    .add {
      min-width: calc(11ch + 4rem);
    }
  }
}

/* features grid and items */

.grid-features {
  display: grid;
  grid-auto-flow: row;

  .features_heading,
  .features_heading-box {
    margin-top: 5.5rem;

    font-size: var(--fs-500);
    font-weight: var(--fw-bold);
    line-height: var(--lh-500);
    letter-spacing: var(--ls-100);
  }

  .features_description,
  .features_item-list {
    margin-top: 1.5rem;
  }

  .features_description {
    white-space: pre-line;
  }

  .features_item-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    li {
      display: flex;
      align-items: center;
      span {
        margin-right: 1.5rem;

        font-weight: var(--fw-bold);
        font-size: var(--fs-200);
        line-height: var(--lh-300);
        color: var(--clr-accent-primary);
      }
    }
  }
}

@include mq(tablet) {
  .grid-features {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "features features"
      "description description"
      "box list";
    .features_heading {
      grid-area: features;
    }

    .features_description {
      grid-area: description;
      margin-top: 2rem;
    }

    .features_heading-box {
      align-self: start;
      grid-area: box;
    }

    .features_item-list {
      grid-area: list;
    }
    .features_heading,
    .features_heading-box {
      font-size: clamp(1.7rem, 2.8vw + 0.5rem, var(--fs-700));
    }

    .features_heading,
    .features_heading-box,
    .features_item-list {
      margin-top: 6.5rem;
    }
  }
}

@include mq(desktop) {
  .grid-features {
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "features box"
      "description list";

    .features_heading,
    .features_heading-box {
      margin-top: 8rem;
    }

    .features_description {
      margin-right: 7rem;
    }

    .features_description,
    .features_item-list {
      margin-top: 2rem;
    }
  }
}

/* gallery */

.grid-gallery {
  display: grid;
  gap: 1.25rem;
  grid-template-areas:
    "first"
    "second"
    "third";

  margin-top: 7.5rem;

  .first,
  .second,
  .third {
    img {
      border-radius: var(--border-radius-small);
    }
    overflow: hidden;
  }

  .first {
    grid-area: first;
  }
  .second {
    grid-area: second;
  }
  .third {
    grid-area: third;
  }
}

@include mq(tablet) {
  .grid-gallery {
    grid-template-columns: 28fr 40fr;
    grid-template-areas:
      "first third"
      "second third";
    place-items: center;
  }
}

@include mq(desktop) {
  .grid-gallery {
    gap: 2rem;
  }
}

/* "you may also like" section */

.also-like-heading {
  margin-top: 7.5rem;
  font-size: var(--fs-500);
  font-weight: var(--fw-bold);
  letter-spacing: var(--ls-200);
  text-align: center;

  @include mq(desktop) {
    margin-top: 10rem;
    font-size: var(--fs-700);
  }
}

.grid-also-like {
  display: grid;

  .item-card {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      border-radius: var(--border-radius-small);
    }

    h2 {
      margin-top: 2rem;
      font-size: clamp(1rem, 2.8vw, var(--fs-500));
      font-weight: var(--fw-bold);
      letter-spacing: var(--ls-500);
    }

    a {
      margin-top: 2rem;
    }
  }

  @include mq(tablet) {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.625rem;
    text-align: center;
  }

  @include mq(desktop) {
    gap: 2rem;
  }
}

/* wrappers */

.categories-wrapper {
  margin-top: 7.5rem;

  @include mq(desktop) {
    margin-top: 10rem;
  }
}

.manifesto-wrapper {
  margin-block: 7.5rem;

  @include mq(desktop) {
    margin-top: 10rem;
  }
}
