@use "sass:map";

/* to edit breakpoints remember to change them
 in src/components/Picture.tsx accordingly */

$media-queries: (
  "tablet": "min-width: 32.5em",
  "desktop": "min-width: 55em",
  "mobile-only": "max-width: 32.5em",
  "tablet-only": "max-width: 55em",
);

@mixin mq($type) {
  $query: map.get($media-queries, $type);

  @if $query == null {
    @error ("Incorrect media query name");
  }

  @media only screen and ($query) {
    @content;
  }
}

$text-colors: (
  "light": var(--clr-white),
  "dark": var(--clr-black),
);

@mixin basicText($color: "dark", $opacity: "low") {
  line-height: var(--lh-300);
  font-weight: var(--fw-medium);
  font-size: var(--fs-300);

  color: map.get($text-colors, $color);

  @if $opacity == "low" {
    opacity: 0.55;
  } @else if $opacity == "medium" {
    opacity: 0.75;
  } @else if $opacity == "full" {
    opacity: 1;
  } @else {
    @error ("Incorrect opacity choice");
  }
}
