.flex {
  display: flex;
}

.label {
  font-size: var(--fs-200);
  line-height: var(--lh-300);
  font-weight: var(--fw-bold);
}

.error {
  opacity: 1;
  color: #cd2c2c;
  margin-left: auto;
  font-size: var(--fs-200);
}

.input {
  box-sizing: border-box;
  width: 100%;
  padding: 1.5rem;
  border-radius: var(--border-radius-small);
  border: solid 0.0625rem #cfcfcf;
  margin-top: 0.5rem;

  font-weight: var(--fw-bold);
  font-size: var(--fs-200);

  cursor: text;

  &[data-valid="true"] {
    border-color: var(--clr-accent-primary);
  }

  &[data-error="true"] {
    outline: solid #cd2c2c 0.125rem;
  }
}
