@use "../styles/mixins" as *;

// desktop first

.header {
  background-color: var(--clr-black);

  &[data-absolute="true"] {
    background-color: transparent;
  }

  /* Below: lighten the line separating the header
  on pages other than Home so that it is better visible
  on pitch black background */

  &[data-absolute="false"] {
    .wrapper::after {
      opacity: 0.17;
    }
  }
}

.wrapper {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: var(--header-height);
    left: 0;

    width: 100%;
    height: 0.0625rem;
    background-color: var(--clr-white);
    opacity: 0.13;

    @include mq(tablet-only) {
      opacity: 0.13;
    }

    @include mq(mobile-only) {
      left: calc(0px - var(--container-margin-inline-min));
      width: 100vw;
    }
  }
}

.flex-container {
  display: flex;
  align-items: center;
  min-height: var(--header-height);

  &[data-absolute="true"] {
    position: absolute;
    width: 100%;
  }
}

.hamburger {
  display: none;
}

.nav {
  margin-inline: auto;

  text-transform: uppercase;
  color: var(--clr-white);
  line-height: var(--lh-300);
  font-weight: var(--fw-bold);
  font-size: var(--fs-100);
  letter-spacing: var(--ls-500);

  ul {
    display: flex;
    gap: 2.125rem;
  }

  a:hover {
    color: var(--clr-accent-primary);
  }
}

.cart {
  background-image: url("../../public/assets/shared/desktop/icon-cart.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 1.5rem;
  height: 1.25rem;
  background-color: inherit;
}

@include mq(tablet-only) {
  .nav {
    display: none;
  }

  .logo {
    margin-left: 2.625rem;
    margin-right: auto;
  }

  .hamburger {
    display: block;
    width: 1rem;
    height: 1rem;

    background-image: url("../../public/assets/shared/tablet/icon-hamburger.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: inherit;
  }
}

@include mq(mobile-only) {
  .logo {
    margin-inline: auto;
  }
}

/* mobile dropdown menu */

.mobile-nav {
  z-index: 1;
  display: none;

  @include mq(tablet-only) {
    &[data-open="true"] {
      display: block;
      .dropdown {
        z-index: 3;
        position: absolute;
        background-color: var(--clr-white);
        top: var(--header-height);
        left: 0;
        right: 0;
        padding-inline: 2.5rem;
        padding-block: 3.75rem;
        border-bottom-left-radius: var(--border-radius-small);
        border-bottom-right-radius: var(--border-radius-small);

        @include mq(mobile-only) {
          padding-inline: 1.5rem;
          padding-block: 2rem;
        }
      }
    }
    .backdrop {
      z-index: 2;
      position: fixed;
      opacity: 0.5;
      background-color: var(--clr-neutral-v-dark);
      inset: var(--header-height) 0 0 0;
      pointer-events: none;
    }
  }
}
